@page
@model İdentityAp.Views.Account.Lockout

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>you are Locked out of account.please try again in a couple minutes </h1>
</div>
</body>
</html>